@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script>
    $( document ).ready(function() {
        menuOpen = JSON.parse(localStorage.getItem('isMenuOpen'));

        if (menuOpen) {
            menuBtn.classList.add('open');
            menu.classList.add('menu-open');

            menuItems.forEach(item => {
                item.classList.add('menu-open__text');
            });
        }
    });
    </script>

    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>

    <div class="header">
        <div class="burger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <h1>Rijkswaterstaat DD-OPER</h1>
    </div>

    <div class="container">
        <div class="menu">
            <ul>
                <li>
                    <a href="@routes.HomeController.start">
                        <img class="menu-icon" src="@routes.Assets.versioned("images/favicon.png")" alt="Grafieken">
                        <p>Grafieken</p>
                    </a>
                </li>
                <li>
                    <a href="@routes.HomeController.test">
                        <img class="menu-icon" src="@routes.Assets.versioned("images/favicon.png")" alt="Grafieken">
                        <p>Bookmarks</p>
                    </a>
                </li>
                <li>
                    <a href="@routes.HomeController.start">
                        <img class="menu-icon" src="@routes.Assets.versioned("images/favicon.png")" alt="Grafieken">
                        <p>Instellingen</p>
                    </a>
                </li>
            </ul>
        </div>

        <div id="main" class="sidebar-open">
        @content
        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
</html>
